

::-webkit-scrollbar{
    display: none;
}

.router{
    background-image: url(../assets/Sugar.jpg);
    background-attachment:fixed;
     background-repeat: no-repeat;
     background-size: cover;
}