
   <!-- <mat-sidenav-container class="tp-container">
    <mat-sidenav mode="side" opened  >
      <sidenavbar></sidenavbar>
    </mat-sidenav>
    
    <mat-sidenav-content style="padding:10px;">
     
        <router-outlet></router-outlet> 
      
    </mat-sidenav-content>
    </mat-sidenav-container>
   -->

   <div class="main-content" *ngIf="url == '/'">
    <router-outlet></router-outlet>
</div>

<div class="main-content" *ngIf="url !== '/'">
  <sidenavbar></sidenavbar>
</div>


<!-- 
 <router-outlet></router-outlet>  -->



