<!-- 

<div>
    <div class="image">

        <form class="form">

            <div class="form-group row" >
        
                <label for="userName" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-4">
        
                    <input id="userName"  required type="text" class="form-control">
                </div>
            </div>
            <div class="form-group row">
        
                <label for="password" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-4">
                    
                    <input id="password" type="password" class="form-control">
                </div>
            </div>
           
            <div class="form-group col-sm-12">
        
                <button class="btn btn-primary">Login</button>
            </div>
        
        </form>

    </div>

</div> -->



<form>
<div class="body">
<br><br><br><br><form style="max-width:500px;margin:auto">
  <h2 style="text-align: center;">Welcome</h2>
  <div class="input-container">
    <i class="fa fa-user icon"></i>
    <input class="input-field" type="text" 
      pattern ="admin" 
      required
      placeholder="Username" 
      name="userName"
      ngModel
      #userName="ngModel">
  </div>
  <div
    class="alert alert-danger"
    *ngIf="userName.touched && !userName.valid">
     Username is wrong
    </div>
  
  <div class="input-container">
    <i class="fa fa-key icon"></i>
    <input 
     ngModel
     required
     #passWord="ngModel"
     class="input-field" 
     type="password" 
     pattern ="admin" 
     placeholder="Password" 
     name="passWord">
  </div>
  <div
    class="alert alert-danger"
    *ngIf="passWord.touched && !passWord.valid">
     Password is wrong
    </div>


  <button type="submit" class="btn" (click)="login()">Login</button>
</form>

</div>