<!-- <form #f="ngForm">
    <div class="col-sm-8 row mb-3">
        <div class="form-group row">
            <label for="date" class="col-sm-2 col-form-label">Date:</label>
            <div class="col-sm-6">
                <input required class="form-control" ngModel name="date" #date="ngModel" id="date" type="date">
                <div class="alert alert-danger" *ngIf="date.touched && !date.valid">
                    Date is Required
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="petrol" class="col-sm-2 col-form-label">Petrol:</label>
            <div class="col-sm-6">
                <input required class="form-control" ngModel name="petrol" #petrol="ngModel" id="petrol" type="petrol">
                <div class="alert alert-danger" *ngIf="petrol.touched && !petrol.valid">
                    Cost is Required
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="diesel" class="col-sm-2 col-form-label">Diesel:</label>
            <div class="col-sm-6">
                <input required class="form-control" ngModel name="diesel" #diesel="ngModel" id="diesel" type="diesel">
                <div class="alert alert-danger" *ngIf="diesel.touched && !diesel.valid">
                    Cost is Required
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="service" class="col-sm-2 col-form-label">Service:</label>
            <div class="col-sm-6">
                <input required class="form-control" ngModel name="service" #service="ngModel" id="service"
                    type="service">
                <div class="alert alert-danger" *ngIf="service.touched && !service.valid">
                    Cost is Required
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="spare" class="col-sm-2 col-form-label">Spare:</label>
            <div class="col-sm-6">
                <input required class="form-control" ngModel name="spare" #spare="ngModel" id="spare" type="spare">
                <div class="alert alert-danger" *ngIf="spare.touched && !spare.valid">
                    Cost is Required
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="driversalary" class="col-sm-2 col-form-label">Driver salary:</label>
            <div class="col-sm-6">
                <input required class="form-control" ngModel name="driversalary" #driversalary="ngModel"
                    id="driversalary" type="driversalary">
                <div class="alert alert-danger" *ngIf="driversalary.touched && !driversalary.valid">
                    Amount is Required
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="managersalary" class="col-sm-2 col-form-label">Manager salary:</label>
            <div class="col-sm-6">
                <input required class="form-control" ngModel name="managerslary" #managersalary="ngModel"
                    id="managersalary" type="managersalary">
                <div class="alert alert-danger" *ngIf="managersalary.touched && !managersalary.valid">
                    Amount is Required
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="foodcost" class="col-sm-2 col-form-label">Food cost:</label>
            <div class="col-sm-6">
                <input required class="form-control" ngModel name="foodcost" #foodcost="ngModel" id="foodcost"
                    type="foodcost">
                <div class="alert alert-danger" *ngIf="foodcost.touched && !foodcost.valid">
                    Cost is Required
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="totalamount" class="col-sm-2 col-form-label">Total amount:</label>
            <div class="col-sm-6">
                <input required class="form-control" ngModel name="totalamount" #totalamount="ngModel" id="totalamount"
                    type="totalamount">
                <div class="alert alert-danger" *ngIf="totalamount.touched && !totalamount.valid">
                    Amount is Required
                </div>
            </div>
        </div>

         
    <div class="form-group col-sm-2">
        <button class="btn btn-primary" >Save</button>
        </div>
        <div class="form-group col-sm-2">
          <button class="btn btn-primary" >Details</button>
        </div>
        <div class="form-group col-sm-2">
          <button class="btn btn-primary" >Edit</button>
        </div>
        <div class="form-group col">
          <button class="btn btn-primary" >Delete</button>
        </div>


    </div>
</form> -->

<div style="padding: 10px">
    <!-- applicant card div start -->
    <div>
        <mat-card>
            <mat-card-title>
                Expense Details
            </mat-card-title>
            <mat-card-content>
                <mat-form-field>
                    <mat-label>
                        Manager Name
                    </mat-label>
                    <input matInput [(ngModel)]="managerName" required>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>
                       Driver Name
                    </mat-label>
                    <input matInput [(ngModel)]="driverName" required>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>
                        Date 
                    </mat-label>
                    <input matInput  [(ngModel)]="date"  required [matDatepicker]="dobDatePicker">
                    <mat-datepicker-toggle [for]="dobDatePicker" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #dobDatePicker></mat-datepicker>
                </mat-form-field>
                <br>
              
              
                <mat-form-field>
                    <mat-label>
                       Manager Salary
                    </mat-label>
                    <input matInput [(ngModel)]="managerSalary" required>
                </mat-form-field>
                <br>
  
                <mat-form-field>
                    <mat-label>
                        Driver Salary
                    </mat-label>
                    <input matInput [(ngModel)]="driverSalary" required>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>
                   Petrol
                    </mat-label>
                    <input matInput [(ngModel)]="petrol" required>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>
                       Diesel
                    </mat-label>
                    <input matInput [(ngModel)]="diesel" required>
                </mat-form-field>
                <br>
              <mat-form-field>
                  <mat-label>
                     Service
                  </mat-label>
                  <input matInput [(ngModel)]="service" required>
              </mat-form-field>
              <br>
              <mat-form-field>
                  <mat-label>
                      Spare
                  </mat-label>
                  <input matInput [(ngModel)]="spare" required>
              </mat-form-field>
              <br>
              <mat-form-field>
                <mat-label>
                    Food Cost
                </mat-label>
                <input matInput [(ngModel)]="foodCost" required>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>
                    Total Amount
                </mat-label>
                <input matInput [(ngModel)]="totalAmount" required>
            </mat-form-field>
            <br>
  
              <div class="button">
                  <button mat-raised-button color="primary" >Save</button>
              </div>
            </mat-card-content>
        </mat-card>
    </div>
   
  </div>