<!-- <div class="container">
    <div class="row">
        <form>
        <div class="col-md-6">
    
            <div class="form-group row">
                <label for="driverName" class="col-sm-2 col-form-label">Driver Name:</label>
                <div class="col-sm-6">
                    <input required class="form-control" ngModel name="driverName" #driverName="ngModel"
                        id="driverName" type="text">
                    <div class="alert alert-danger" *ngIf="driverName.touched && !driverName.valid">
                        Name is Required
                    </div>
                </div>
            </div>
            
            
            <div class="form-group row">
                <label for="managerName" class="col-sm-2 col-form-label">Manager Name:</label>
                <div class="col-sm-6">
                    <input required class="form-control" ngModel name="managerName" #managerName="ngModel"
                        id="managerName" type="text">
                    <div class="alert alert-danger" *ngIf="managerName.touched && !managerName.valid">
                        Name is Required
                    </div>
                </div>
            </div>
    
    
            <div class="form-group row">
                <label for="driverSalary" class="col-sm-2 col-form-label">Driver salary:</label>
                <div class="col-sm-6">
                    <input required class="form-control" ngModel name="driverSalary" #driverSalary="ngModel"
                        id="driverSalary" type="number">
                    <div class="alert alert-danger" *ngIf="driverSalary.touched && !driverSalary.valid">
                        Salary is Required
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="managerSalary" class="col-sm-2 col-form-label">Manager salary:</label>
                <div class="col-sm-6">
                    <input required class="form-control" ngModel name="managerSalary" #managerSalary="ngModel"
                        id="managerSalary" type="number">
                    <div class="alert alert-danger" *ngIf="managerSalary.touched && !managerSalary.valid">
                        Salary is Required
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="date" class="col-sm-2 col-form-label">Date:</label>
                <div class="col-sm-6">
                    <input required class="form-control" ngModel name="date" #date="ngModel" id="date" type="date">
                    <div class="alert alert-danger" *ngIf="date.touched && !date.valid">
                        Date is Required
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="petrol" class="col-sm-2 col-form-label">Petrol:</label>
                <div class="col-sm-6">
                    <input required class="form-control" ngModel name="petrol" #petrol="ngModel" id="petrol" type="number">
                    <div class="alert alert-danger" *ngIf="petrol.touched && !petrol.valid">
                        Cost is Required
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
    
            <div class="form-group row">
                <label for="diesel" class="col-sm-2 col-form-label">Diesel:</label>
                <div class="col-sm-6">
                    <input required class="form-control" ngModel name="diesel" #diesel="ngModel" id="diesel" type="number">
                    <div class="alert alert-danger" *ngIf="diesel.touched && !diesel.valid">
                        Cost is Required
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="service" class="col-sm-2 col-form-label">Service:</label>
                <div class="col-sm-6">
                    <input required class="form-control" ngModel name="service" #service="ngModel" id="service"
                        type="number">
                    <div class="alert alert-danger" *ngIf="service.touched && !service.valid">
                        Cost is Required
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="spare" class="col-sm-2 col-form-label">Spare:</label>
                <div class="col-sm-6">
                    <input required class="form-control" ngModel name="spare" #spare="ngModel" id="spare" type="number">
                    <div class="alert alert-danger" *ngIf="spare.touched && !spare.valid">
                        Cost is Required
                    </div>
                </div>
            </div>
            
            <div class="form-group row">
                <label for="foodCost" class="col-sm-2 col-form-label">Food cost:</label>
                <div class="col-sm-6">
                    <input required class="form-control" ngModel name="foodCost" #foodCost="ngModel" id="foodCost"
                        type="number">
                    <div class="alert alert-danger" *ngIf="foodCost.touched && !foodCost.valid">
                        Cost is Required
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="totalAmount" class="col-sm-2 col-form-label">Total amount:</label>
                <div class="col-sm-6">
                    <input required class="form-control" ngModel name="totalAmount" #totalAmount="ngModel" id="totalAmount"
                        type="number">
                    <div class="alert alert-danger" *ngIf="totalAmount.touched && !totalAmount.valid">
                        Amount is Required
                    </div>
                </div>
            </div>
        </div>
<div class="row">
    
</div>
            <button class="btn btn-primary " (click)="addExpense(driverName.value,managerName.value,driverSalary.value,managerSalary.value,
            date.value,petrol.value,diesel.value,service.value,spare.value,foodCost.value,totalAmount.value)" >Save</button>
            
            
              <button class="btn btn-primary" >Details</button>
           
              <button class="btn btn-primary" >Edit</button>
           
           
              <button class="btn btn-primary" >Delete</button>
           
    </form>
    </div>


</div>

 -->

 <div style="padding: 10px">
    <!-- applicant card div start -->
    <div>
        <mat-card>
            <mat-card-title>
                Expense Details
            </mat-card-title>
            <mat-card-content>
              <mat-form-field>
                <mat-label>
                    Date 
                </mat-label>
                <input matInput [(ngModel)]="date" required [matDatepicker]="dobDatePicker">
                <mat-datepicker-toggle [for]="dobDatePicker" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #dobDatePicker></mat-datepicker>
            </mat-form-field>
            <br>
            <mat-form-field>
              <mat-label>
                  Driver Name
              </mat-label>
              <input matInput [(ngModel)]="driverName" required>
          </mat-form-field>
          <br>
          
                <mat-form-field>
                    <mat-label>
                    Driver Salary
                    </mat-label>
                    <input matInput [(ngModel)]="driverSalary" required>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>
                        Manager Name
                    </mat-label>
                    <input matInput [(ngModel)]="managerSalary" required>
                </mat-form-field>
                <br>
               
                <mat-form-field>
                    <mat-label>
                 Manager Salary
                    </mat-label>
                    <input matInput [(ngModel)]="managerSalary" required>
                </mat-form-field>
                <br>
                
  
                <mat-form-field>
                    <mat-label>
                   Petrol
                    </mat-label>
                    <input matInput [(ngModel)]="petrol" required>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>
                        Diesel
                    </mat-label>
                    <input matInput [(ngModel)]="diesel" required>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>
                      Service
                    </mat-label>
                    <input matInput [(ngModel)]="service" required>
                </mat-form-field>
                <br>
  
                <mat-form-field>
                  <mat-label>
                     Spare
                  </mat-label>
                  <input matInput [(ngModel)]="spare" required>
              </mat-form-field>
              <br>
              <mat-form-field>
                  <mat-label>
                     Food Cost
                  </mat-label>
                  <input matInput [(ngModel)]="foodCost" required>
              </mat-form-field>
              <br>
              <mat-form-field>
                  <mat-label>
                      Total Amount 
                  </mat-label>
                  <input matInput [(ngModel)]="totalAmount" required>
              </mat-form-field>
              <br>
  
              <div class="button">
                  <button mat-raised-button color="primary" >Save</button>
              </div>
            </mat-card-content>
        </mat-card>
    </div>
   
  </div>
