<!-- 

<ul class="list-group">
    
    <li class="list-group-item list-group-item-primary">All Details</li>
    <li class="list-group-item list-group-item-info">Income : 230000</li>
    <li class="list-group-item list-group-item-success">Expense  : 10000</li>
    <li class="list-group-item list-group-item-danger">Profit : 12345</li>
    <li class="list-group-item list-group-item-dark">Balance : 12345</li>
  
  </ul>

<div class="container">
    <h1>Details of full customers </h1>
</div>
<hr>
<div class="table-responsive">
<table class="table table-bordered table-dark">
    <thead>
        <tr>
           
            <th>Date</th>
            <th>Customer Name</th>
            <th>Customer Place</th>
            <th>Bill Number</th>
            <th>Number Of Acre</th>
            <th>Cost per Acre</th>
            <th>Total Amount</th>
            <th>Advance</th>
            <th>Balance</th>
            <th>Amount Given</th>
            
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let income of incomeDetails">
        
        
            <td>{{income.date}}</td>
            <td>{{income.customerName}}</td>
            <td>{{income.customerPlace}}</td>
            <td>{{income.billNumber}}</td>

            <td>{{income.numberOfAcre}}</td>
            <td>{{income.costPerAcre}}</td>
            <td>{{income.totalAmount}}</td>
            <td>{{income.advance}}</td>
            <td>{{income.balance}}</td>
            <td>{{income.amountGiven}}</td>
        </tr>
    </tbody>
</table>
</div>

<div class="container">
    <h1>Details of full Expenses </h1>
</div>
<hr>
<table class="table table-bordered">
    <thead>
        <tr>
           
            <th>Date</th>
            <th>Driver Name</th>
            <th>Manager Name</th>
            <th>Driver Salary</th>
            <th>Manager Salary</th>
            <th>Petrol</th>
            <th>Diesel</th>
            <th>Service</th>
            <th>Spare</th>
            <th>Food Cost</th>
            <th>Total Amount</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let expense of expenseDetails">
        
       
            <td>{{expense.date}}</td>
            <td>{{expense.driverName}}</td>
            <td>{{expense.managerName}}</td>
            <td>{{expense.driverSalary}}</td>
            <td>{{expense.managerSalary}}</td>
            <td>{{expense.petrol}}</td>
            <td>{{expense.diesel}}</td>
            <td>{{expense.service}}</td>
            <td>{{expense.spare}}</td>
            <td>{{expense.foodCost}}</td>
            <td>{{expense.totalAmount}}</td>
        </tr>
    </tbody>
</table>



 -->
 <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      
      <!-- <ng-container matColumnDef="S.no">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container> -->
  
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let income">hyuyuyutt </td>
      </ng-container>
  
      <ng-container matColumnDef="customerName">
        <th mat-header-cell *matHeaderCellDef> Customer Name </th>
        <td mat-cell *matCellDef="let income"> hyuyuyutt </td>
      </ng-container>
  
    
      <ng-container matColumnDef="customerPlace">
        <th mat-header-cell *matHeaderCellDef> Customer Place</th>
        <td mat-cell *matCellDef="let income"> hyuyuyutt </td>
      </ng-container>

      <ng-container matColumnDef="billNumber">
        <th mat-header-cell *matHeaderCellDef> Bill Number</th>
        <td mat-cell *matCellDef="let income"> hyuyuyutt </td>
      </ng-container>

      <ng-container matColumnDef="numberOfAcres">
        <th mat-header-cell *matHeaderCellDef>No.of.Acres </th>
        <td mat-cell *matCellDef="let element"> hyuyuyutt </td>
      </ng-container>
      <ng-container matColumnDef="costPerAcres">
        <th mat-header-cell *matHeaderCellDef> Cost per Acres </th>
        <td mat-cell *matCellDef="let income"> hyuyuyutt </td>
      </ng-container>

      <ng-container matColumnDef="totalAmount">
        <th mat-header-cell *matHeaderCellDef> Total Amount </th>
        <td mat-cell *matCellDef="let income"> hyuyuyutt </td>
      </ng-container>

      <ng-container matColumnDef="advance">
        <th mat-header-cell *matHeaderCellDef> Advance </th>
        <td mat-cell *matCellDef="let income"> hyuyuyutt </td>
      </ng-container>

      <ng-container matColumnDef="balance">
        <th mat-header-cell *matHeaderCellDef> Balance </th>
        <td mat-cell *matCellDef="let income"> hyuyuyutt </td>
      </ng-container>

      <ng-container matColumnDef="amountGiven">
        <th mat-header-cell *matHeaderCellDef> Amount Given </th>
        <td mat-cell *matCellDef="let income"> hyuyuyutt </td>
      </ng-container>
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  