<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #drawer class="sidenav" fixedInViewport 
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <span class="name">Menu</span>
    </mat-toolbar>
  
  
  <mat-expansion-panel class="expansion">
    <mat-expansion-panel-header>
      <mat-panel-title class="title">
        Rice Transplanter
      </mat-panel-title>   
    </mat-expansion-panel-header>
    <hr>
    <a routerLink="/riceincome" >Income</a><hr>
    <a routerLink="/riceexpense" >Expense</a><hr>
    <a routerLink="/ricedetails" >All Details</a><hr>
    <a routerLink="/ricemanage" >Manage income & Expense</a><hr>
  </mat-expansion-panel>

  <mat-expansion-panel class="expansion">
    <mat-expansion-panel-header>
      <mat-panel-title class="title">
        Baler
      </mat-panel-title>
    </mat-expansion-panel-header>
   <hr>
    <a routerLink="/balerincome" >Income</a><hr>
    <a routerLink="/balerexpense" >Expense</a><hr>
    <a routerLink="" >All Details</a><hr>
    <a routerLink="" >Customer Details</a><hr>
    <a routerLink="" >Profit</a><hr>
    <a routerLink="" >Balance</a>
  </mat-expansion-panel>

  <mat-expansion-panel class="expansion">
    <mat-expansion-panel-header>
      <mat-panel-title class="title">
        Sugar  cane Harvester
      </mat-panel-title>
    </mat-expansion-panel-header>
    <hr>
    <a routerLink="/sugarincome" >Income</a><hr>
    <a routerLink="/sugarexpense" >Expense</a><hr>
    <a routerLink="" >All Details</a><hr>
    <a routerLink="" >Customer Details</a><hr>
    <a routerLink="" >Profit</a><hr>
    <a routerLink="" >Balance</a>
  </mat-expansion-panel>
     
  </mat-sidenav>
  <mat-sidenav-content class="content">
   
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
